{
  "presets": ["es2015", "stage-3"],
  "plugins": [
    'babel-plugin-transform-es2015-parameters',
    'babel-plugin-transform-es2015-destructuring',
    'babel-plugin-transform-async-to-generator'
  ]
}
